
	<HEAD>
		<TITLE>KAWASAN WISATA SUKABUMI</TITLE>
		<style>
		body {background:#e0ffff;}
		#wrap {width:1000px;height:200px;margin:center;}
		#header {width:1350px;height:200px;}
		#content {width:1335px;height:100%;}
		</style>
	</HEAD>